/* Basic jQuery Slider essential styles */
.bjqs-ctl-font {
  color: #FFF;
  background-color: rgba(0,0,0, 0.6);
  font-weight: 100;
  font-size: 22pt;
  padding: 5px;
}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{
  right:0;
  .bjqs-ctl-font();
}
ul.bjqs-controls.v-centered li.bjqs-prev a{
  left:0;
  .bjqs-ctl-font();
}
ol.bjqs-markers{
  list-style: none;
  padding: 0;
  margin: 0;

}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{
  display:block;
  width:45%;
  margin:0;
  padding:5px !important;
  position:absolute;
  bottom:0;
  .bjqs-ctl-font();
  font-size: 9pt;
}
