@screen-sm-min: 768px;
@screen-md-min: 992px;


@media screen and (min-width: @screen-sm-min) {
  .img-header {
    min-height: 500px;
  }

  .htl-review{
    margin-top: 25px;
  }

  .htl-info-name {
    font-size: 14pt;
  }

  .htl-info-desc {
    height: 240px;
  }

  .htl-map {
    margin-top: 10px;
    height: 240px;
  }

  .htl-header-desc {
    display: block;
  }

  .htl-review {
    .title {
      display: block;
    }
    .stat {
      display: block;
    }
    .stat-chart {
      display: block;
    }
    .sort-bar {
      margin-top: 10px;
    }
  }

}

@media screen and (min-width: @screen-md-min) {
  .htl-info-desc {
    margin-top: 0px;
    height: 290px;
  }

  .htl-map {
    margin-top: 0px;
    height: 100px;
  }

  .htl-info-name {
    font-size: 16pt;
  }

}
