@import "modules/bjqs.less";

@default-lineheight: 1;
@bg-color: #AAA;

.ez-header {
  height: 50px;
  background-color: #8EC31D;
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  .ez-logo {
    img {
      max-width: 200px;
      margin: 10px auto;
    }
  }
  .ez-menu {
    float: right;
    font-size: 12pt;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
  }
}

.img-header {
  background-size: cover;
  background-color: @bg-color;
  background-image: url(https://a2.muscache.com/airbnb/nabelove/locations/assets/home/95-1ae2b42f309d4baaea92f8083235f78a.jpg);
  background-position: center center;
  position: relative;
  min-height: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.htl-header {
  padding-top: 70px;
}

.htl-header-text {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  font-weight: 400;
}

.p-shadow {
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45);
}

.htl-header-score {
  font-size: 80pt;
  line-height: @default-lineheight;
}

.htl-header > div > div > h1 {
  font-size: 24pt;
  line-height: 1;
}

.htl-header-desc {
  padding-top: 20px;
  font-size: 14pt;
  line-height: 1.5;
  letter-spacing: 1px;
  display: none;
}

.htl-info-area {
  padding-top: 10px;
}

.htl-info-desc {
  border: 1px solid #8EC31D;
  margin-top: 10px;
  height: 330px;
  padding: 20px;
  margin-bottom: 10px;
}

.htl-info-name {
  font-size: 16pt;
  font-weight: 100;
  letter-spacing: 1px;
}

.htl-info-title {
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: 1px;
  vertical-align: top;
}

.htl-info-value {
  margin-left: 10px;
  font-weight: 100;
  color: #6F6F6F;
  display: inline-block;
}

.htl-booking-btn {
  background: #FE7E03;
  width: 150px;
  height: 40px;
  float: right;
  margin: -30px -25px 0px 0px;
  div {
    width: 50%;
    margin: 0px auto;
  }
  a {
    color: #FFF;
    line-height: 40px;
    font-size: 12pt;
  }
}

.htl-map {
  margin-top: 10px;
  height: 100px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.htl-review {
  .title {
    font-size: 16pt;
    color: #8FC500;
    letter-spacing: 1px;
    display: none;
  }
  .stat {
    font-size: 14pt;
    font-weight: 100;
    color: #000;
    letter-spacing: 1px;
    display: none;
  }
  .stat-chart {
    display: none;
  }
  .sort-bar {
    margin-top: 10px;
    border-top: 1px #AAA solid;
    border-bottom: 1px #AAA solid;
  }
  .usr-icon-line{
    //border-radius: 50%;
    border: 1px solid rgba(180,180,180,0.8);
    padding: 4px;
    width: 85px;
    border-radius: 50%;
    position: relative;
  }
  .usr-icon {
    border-radius: 50%;
    width: 75px;
  }
}

@import "modules/media.less";
